<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Biddr", root_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav navbar-left">
      <li><a href="<%= auctions_path %>">All Auctions</a>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%= new_auction_path %>"><span class="glyphicon glyphicon-plus"></span> Create Auction</a></li>
        <% if user_signed_in? %>
          <li><a href="<%= root_path %>"><span class="glyphicon glyphicon-user"></span> <%= current_user.full_name %></a></li>
          <li>
            <%= link_to '<span class="glyphicon glyphicon-log-out"></span> Logout'.html_safe, sessions_path, method: :delete %>
          </li>
        <% else %>
          <li><a href="<%= new_user_path %>"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="<%= new_session_path %>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>